@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

body {
    margin: 0;
    color: #DAD2D8;
    background-color: rgb(18, 13, 10);
    overflow-x: hidden;
    font-family: 'Nunito Sans' !important;
}

.navbar {
    position: fixed;
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 2vw;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.navbar a {
    color: #DAD2D8;
    text-decoration: none;
    padding: 1rem 0.5rem;
    margin: 0;
}

h1 { margin: 0; font-size: 2rem; }
p { font-size: 1rem; }

path {
    fill: none;
    stroke: #DAD2D8;
    stroke-width: 0.02vw;
}